page-profile {
	
	.bg{

		background-image: url('../assets/imgs/card-amsterdam.png');
		height: 300px;
		background-size: cover;
		/* filter: blur(5px); */
		background-position: center center;

	}

	.main-cnt{

		width: 100%;
		height: 700px;
		background: #efefef;
	}

	.text-user{
		color: white;
		float: right;
	}
	.icon-avatar{
		border-radius: 100px !important;
		z-index: 99;
		float: right;
	}
}
