components-expandable {

	@media only screen and (min-width: 768px) {
		.centro {
			margin: 0 auto;
			max-width: 90%;
		}
	}


	/*.expand-wrapper {
	  transition: max-height 0.4s ease-in-out;
	  overflow: hidden;
	  height: auto;
	}

	.collapsed {
	  max-height: 0 !important;
	}*/

}
