page-grupo {
	
	@media only screen and (min-width: 768px) {
		.centro {
			margin: 0 auto;
			max-width: 90%;
		}
	}

	.botones-right {

		float: right;
	}

	.titulo-left{
		float: left;
	}

	.icon-avatar{
		top: 10px;
		width: 40%;
		border-radius: 100px !important;
		z-index: 99;
		float: right;
	}

}